:root {
    --foreground-color: blue;
    --border-color: blue;
    --background-color: lightblue;
    --content-background-color: white;
    --primary-action-color: #008800;
    --secondary-action-color: #880000;
    --error-border-color: #880000;
    --error-background-color: #FFA0A0;
    --error-foreground-color: #000000;
}
