@media screen and (min-width: 600px) {
    .hamburger-label {
        display: none;
    }

    #hamburger-button {
        display: none;
    }

    ol.menu {
        display: block;
        position: inherit;
    }

    li.menu-item {
        display: inline-block;
    }

    nav.menu {
        display: block;
    }

    .menu__edit-button {
        position: absolute;
        right: 2rem;
    }

    .product-detail-container {
        grid-template-areas:
                "product-detail-title-box product-detail-image-box"
                "product-detail-description-box product-detail-image-box"
                "product-detail-back-box .";
        grid-template-rows: auto 1fr auto;
    }

    .product-detail-image-box {
        height: 500px;
    }

}

@media screen and (max-width: 600px) {

    .hamburger-label {
        display: block;
    }

    #hamburger-button {
        display: block;
    }

    ol.menu {
        display: none;
        position: absolute;
        padding: 1rem;
        border-radius: 1rem;
        transform: translate(-0.5rem, -0.5rem);
        background-color: var(--background-color);
    }

    li.menu-item {
        display: block;
        padding: 2px;
    }

    a.menu-item {
        display: block;
    }

    nav.menu {
        display: inline-block;
    }

    .menu__edit-button {
        right: inherit;
        position: relative;
    }

    .product-detail-container {
        grid-template-areas:
                "product-detail-title-box"
                "product-detail-image-box"
                "product-detail-description-box"
                "product-detail-back-box";
    }

    .product-detail-image-box {
        height: 300px;
    }

}

.hamburger-label {
    padding: 10px 10px;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 4;
}

#hamburger-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    cursor: pointer;
    z-index: 4;
}

#hamburger-button:checked ~ .menu {
    z-index: 1;
    display: inline-block;
}
