* {
    padding: 0;
    margin: 0;
}

ol.menu {
    list-style-type: none;
    padding: 1rem 3rem;
    position: relative;
}

nav.menu {
    background-color: var(--background-color);
    position: relative;
}

li.menu-item {
    display: inline-block;
}

a.menu-item {
    text-decoration: none;
    font-weight: bold;
    padding: 0.1rem 1rem;
    border: 2px solid var(--border-color);
    border-radius: 10px;
}

a.selected-menu-item {
    background-color: var(--foreground-color);
    color: var(--content-background-color);
}

.content {
    padding: 1rem 3rem;
}

.product-list {
    border-collapse: collapse;
    border-width: 2px solid var(--border-color);
    display: table;
    flex-grow: 2;
}

.product__form-container {
    display: table;
    padding: 0.3rem 1rem;
}

.product-item {
    display: table-row;
    text-decoration: none;
    color: black;
}

.product-header {
    padding: 0.2rem 1.5rem;
    font-weight: bold;
    background-color: var(--background-color);
}

.product-field {
    display: table-cell;
    border: 2px solid var(--border-color);
}

.title {
    padding: 0.2rem 3rem 0.2rem 0.5rem;
}

.release-year {
    text-align: center;
    padding: 0.2rem 3rem;
    display: table-cell;
}

.product-detail-title {
    color: var(--foreground-color);
    display: inline-block;
}

.product-detail-description {
    border: var(--foreground-color) 2px solid;
    padding: 0.5rem;
    border-radius: 13px;
}

.product__form {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
}

.form-label {
    margin: 0.1rem 0.5rem;
}

.form-input {
    margin: 0.1rem 0.5rem;
    padding: 0.1rem;
    border: 2px solid var(--border-color);
    border-radius: 6px;
    font-family: DejaVu Sans Mono, Arial, serif;
}

.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
}

.product-detail-container {
    display: grid;
    column-gap: 2rem;
    align-items:start;
}

.product-detail-title-box {
    grid-area: product-detail-title-box;
}

.product-detail-description-box {
    grid-area: product-detail-description-box;
    padding-top: 2rem;
    padding-left: 1rem;
}

.product-detail-image-box {
    grid-area: product-detail-image-box;
}

.product-detail-back-box {
    grid-area: product-detail-back-box;
    justify-self: center;
}

.form_button {
    display: inline-block;
    justify-self: end;
    padding: 0.1rem 0.6rem;
    border: 2px solid var(--border-color);
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: DejaVu Sans Mono, Arial, serif;
    cursor: pointer;
}


.form-button-primary {
    background-color: var(--primary-action-color);
    color: var(--content-background-color);
}

.form-button-secondary {
    background-color: var(--secondary-action-color);
    color: var(--content-background-color);
}

.form-button-container {
    justify-self: end;
}

.product__form_errors {
    border: var(--error-border-color) 3px solid;
    border-radius: 10px;
    background-color: var(--error-background-color);
    color: var(--error-foreground-color);
    padding: 0.2rem 1rem;
    margin-bottom: 1rem;
}

.product__form_errors p:before {
    content: "\2022";
    padding-right: 5px;
}
